
<header th:fragment="HeadBar">

	<!-- ======================== Navigation ======================== -->

	<div class="container">

		<!-- === navigation-top === -->

		<nav class="navigation-top clearfix">

			<!-- navigation-top-left -->

			<div class="navigation-top-left">
				<a class="box" href="#"> <i class="fa fa-facebook"></i>
				</a> <a class="box" href="#"> <i class="fa fa-twitter"></i>
				</a> <a class="box" href="#"> <i class="fa fa-youtube"></i>
				</a>
			</div>

		</nav>

		<!-- === navigation-main === -->

		<nav class="navigation-main clearfix">

			<!-- logo -->

			<div class="logo animated fadeIn">
				<a th:href="@{/member_index}"> <img class="logo-desktop"
					src="assets/images/logo.png" alt="Alternate Text" /> <img
					class="logo-mobile" src="assets/images/logo-mobile.png"
					alt="Alternate Text" />
				</a>
			</div>

			<!-- toggle-menu -->

			<div class="toggle-menu">
				<i class="icon icon-menu"></i>
			</div>

			<!-- navigation-block -->

			<div class="navigation-block clearfix">

				<!-- navigation-left -->

				<ul class="navigation-left">
					<li><a th:href="@{/member_index}">Home</a></li>
					<li><a th:href="@{/myRecords}">Reservation Records</a></li>
					<li><a href="#">My Account <span class="open-dropdown"><i
								class="fa fa-angle-down"></i></span></a>
						<ul>
							<li><a href="reservation-1.html">View my account</a></li>
							<li><a th:href=@{/editMember}>Edit my account</a></li>
							<li><a th:href="@{/logout}">Log out</a></li>
						</ul></li>
					<li><a th:href="@{/reviews}">Reviews</a></li>
				</ul>

			</div>
			<!--/navigation-block-->

		</nav>
	</div>
	<!--/container-->

</header>